
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="input1">Enter Starting Number</label>
    <div class="col-sm-7">
        <input class="form-control" type="number" pattern="[0-1]" name="Enter Starting Number"  required/>
    </div>
</div>


<div class="form-group row">
    <label class="col-form-label col-sm-2" for="input2">Enter Ending Number</label>
    <div class="col-sm-7">
        <input class="form-control" type="number" pattern="[0-1]" name="Enter Ending Number"  required/>
    </div>
</div>


<div class="form-group row">
    <label class="col-form-label col-sm-2" for="input3">Enter Increment</label>
    <div class="col-sm-7">
        <input class="form-control" type="number" pattern="[0-1]" name="Enter Increment"  required/>
    </div>
</div>